* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 420px;
  margin: 3rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form input,
.search {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background: #4338ca;
}

.error {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}

.user-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.user-list li {
  background: #f1f5f9;
  padding: 0.6rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin-left: 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.actions .edit {
  background: #22c55e;
  color: white;
}

.actions .delete {
  background: #dc2626;
  color: white;
}

/* MODAL */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-actions button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

.modal-actions .cancel {
  background: #e5e7eb;
}

.modal-actions .delete {
  background: #dc2626;
  color: white;
}


.search-box {
  margin-top: 1rem;
}

.search-box input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

.search-box input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.no-user {
  text-align: center;
  color: #6b7280;
  margin-top: 1rem;
  font-size: 0.9rem;
}